In [ ]:
import pandas as pd

In [ ]:
# A pandas series is a 1-D array like obj, that can hold any data type.It is similar to a column in table

In [ ]:
import numpy as np
data = np.arange(1,6)
series=pd.Series(data)
print("Series \n",series)

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Series comes w default indexes

In [ ]:
print(type(series))

<class 'pandas.core.series.Series'>

In [ ]:
data = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
dict_series = pd.Series(data)
print(dict_series)

a    1
b    2
c    3
dtype: int64

In [ ]:
data = np.arange(10,31,10)
ind = ['a','b','c']
series = pd.Series(data,index=ind)
print(series)

a    10
b    20
c    30
dtype: int64

In [ ]:
import pandas as pd

# Creating a Series
ages = pd.Series([20, 21, 19], name="Age")
print(ages)

0    20
1    21
2    19
Name: Age, dtype: int64

In [ ]:
data = {
    "Name": ["Aditya", "Abhay", "Rahul"],
    "Age": [20, 21, 19],
    "Branch": ["AI & DS", "AI & DS", "CS"]
}
df = pd.DataFrame(data)
print(df)

     Name  Age   Branch
0  Aditya   20  AI & DS
1   Abhay   21  AI & DS
2   Rahul   19       CS

In [ ]:
data = {
    "Name": ["Aditya", "Abhay", "Rahul"],
    "Age": [20, 21, 19],
    "Branch": ["AI & DS", "AI & DS", "CS"]
}
df = pd.DataFrame(data,index=ind)
print(df)

     Name  Age   Branch
a  Aditya   20  AI & DS
b   Abhay   21  AI & DS
c   Rahul   19       CS

In [ ]:
data = [
    {'Name':'Krish','Age':32,'City':'Delhi'},
    {'Name':'Jack','Age':31,'City':'Mumbai'},
    {'Name':'Rocky','Age':37,'City':'Chennai'},
    {'Name':'Joy','Age':39,'City':'California'}
]
df = pd.DataFrame(data)
print(df)

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df = pd.read_csv('Practice.csv')
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [ ]:
df.tail()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,NaN,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,NaN,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [ ]:
df

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,NaN,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,NaN,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [ ]:
print(data)

[{'Name': 'Krish', 'Age': 32, 'City': 'Delhi'}, {'Name': 'Jack', 'Age': 31, 'City': 'Mumbai'}, {'Name': 'Rocky', 'Age': 37, 'City': 'Chennai'}, {'Name': 'Joy', 'Age': 39, 'City': 'California'}]

In [ ]:
df

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,NaN,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,NaN,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [ ]:
df =pd.DataFrame(data)

In [ ]:
df

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df.loc[0]

Name    Krish
Age        32
City    Delhi
Name: 0, dtype: object

In [ ]:
df.loc[1]

Name      Jack
Age         31
City    Mumbai
Name: 1, dtype: object

In [ ]:
print(df.iloc[0][1])

32

C:\Users\jaisw\AppData\Local\Temp\ipykernel_23596\134252878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][1])

In [ ]:
df.iloc[1]

Name      Jack
Age         31
City    Mumbai
Name: 1, dtype: object

In [ ]:
df

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df.at[1,'Name']

'Jack'

In [ ]:
print(df.at[2,'Age'])

37

In [ ]:
df.iat[2,2]

'Chennai'

In [ ]:
df['Salary'] = ['50k','60k','70k','80k']

In [ ]:
df

    Name  Age        City Salary
0  Krish   32       Delhi    50k
1   Jack   31      Mumbai    60k
2  Rocky   37     Chennai    70k
3    Joy   39  California    80k

In [ ]:
df.drop('Salary',axis=1)

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df

    Name  Age        City Salary
0  Krish   32       Delhi    50k
1   Jack   31      Mumbai    60k
2  Rocky   37     Chennai    70k
3    Joy   39  California    80k

In [ ]:
df.drop('Salary',axis=1,inplace=True)

In [ ]:
df

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df.loc[len(df)] = ['David',29,'New York']

In [ ]:
df

    Name  Age        City
0  Krish   32       Delhi
1   Jack   31      Mumbai
2  Rocky   37     Chennai
3    Joy   39  California
4  David   29    New York

In [ ]:
df.drop(1,inplace=True)

In [ ]:
df

    Name  Age        City
2  Rocky   37     Chennai
3    Joy   39  California

In [ ]:
df= pd.read_csv('Practice.csv')
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [ ]:
print(df.columns)

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [ ]:
df = pd.read_csv('Practice.csv')

In [ ]:
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [ ]:
df.tail()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
9995,CUST_09996,Female,67,Germany,Sydney,SME,37,Web,Yearly,15,...,34.240174,Service,4.0,1,0.36,0.28,20,Satisfied,2,0
9996,CUST_09997,Male,26,USA,Toronto,Individual,42,Mobile,Yearly,13,...,40.092087,NaN,4.0,0,0.48,0.06,28,Unsatisfied,2,0
9997,CUST_09998,Female,18,Canada,Sydney,Individual,39,Mobile,Yearly,15,...,25.215810,Technical,1.0,0,0.11,0.07,-30,Satisfied,1,0
9998,CUST_09999,Female,30,USA,Delhi,Individual,52,Web,Monthly,14,...,20.544921,NaN,2.0,0,0.25,0.31,58,Neutral,1,1
9999,CUST_10000,Male,67,UK,Berlin,SME,7,Mobile,Monthly,15,...,23.536914,Technical,4.0,1,0.40,0.30,1,Satisfied,1,0

In [ ]:
df.head()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [ ]:
df.describe()

,age,tenure_months,monthly_logins,weekly_active_days,avg_session_time,features_used,usage_growth_rate,last_login_days_ago,monthly_fee,total_revenue,payment_failures,support_tickets,avg_resolution_time,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,referral_count,churn
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000
mean,45.906100,30.155700,19.672000,3.479400,15.187890,4.990800,0.019423,9.505200,34.930000,1057.018000,0.501000,1.206600,23.953210,3.486700,0.294100,0.499610,0.253575,19.110500,0.9922,0.102100
std,16.420416,17.099517,9.838003,2.302283,6.830774,2.211607,0.149567,9.799417,23.785115,1020.148233,0.711934,1.104554,9.956999,0.978631,0.543171,0.231601,0.140532,38.936619,0.9939,0.302795
min,18.000000,1.000000,0.000000,0.000000,1.000000,1.000000,-0.580000,0.000000,10.000000,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.100000,0.010000,-100.000000,0.0000,0.000000
25%,32.000000,16.000000,13.000000,1.000000,10.391645,3.000000,-0.080000,2.000000,20.000000,340.000000,0.000000,0.000000,17.082041,3.000000,0.000000,0.300000,0.130000,-7.000000,0.0000,0.000000
50%,46.000000,30.000000,20.000000,3.000000,15.161659,5.000000,0.020000,6.000000,30.000000,720.000000,0.000000,1.000000,23.950444,4.000000,0.000000,0.500000,0.250000,19.000000,1.0000,0.000000
75%,60.000000,45.000000,26.000000,5.000000,19.882034,6.000000,0.120000,13.000000,50.000000,1440.000000,1.000000,2.000000,30.758480,4.000000,1.000000,0.700000,0.380000,46.000000,2.0000,0.000000
max,74.000000,59.000000,54.000000,7.000000,41.996411,15.000000,0.540000,80.000000,100.000000,5900.000000,5.000000,7.000000,61.821878,5.000000,4.000000,0.900000,0.500000,100.000000,7.0000,1.000000

In [ ]:
df.head().dtypes

customer_id                object
gender                     object
age                         int64
country                    object
city                       object
customer_segment           object
tenure_months               int64
signup_channel             object
contract_type              object
monthly_logins              int64
weekly_active_days          int64
avg_session_time          float64
features_used               int64
usage_growth_rate         float64
last_login_days_ago         int64
monthly_fee                 int64
total_revenue               int64
payment_method             object
payment_failures            int64
discount_applied           object
price_increase_last_3m     object
support_tickets             int64
avg_resolution_time       float64
complaint_type             object
csat_score                float64
escalations                 int64
email_open_rate           float64
marketing_click_rate      float64
nps_score                   int64
survey_response            object
referral_count              int64
churn                       int64
dtype: object

In [ ]:
df.isnull()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [ ]:
df[df.isnull()]

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996     True
9997    False
9998     True
9999    False
Length: 10000, dtype: bool

In [ ]:
df.isnull().any()

customer_id               False
gender                    False
age                       False
country                   False
city                      False
customer_segment          False
tenure_months             False
signup_channel            False
contract_type             False
monthly_logins            False
weekly_active_days        False
avg_session_time          False
features_used             False
usage_growth_rate         False
last_login_days_ago       False
monthly_fee               False
total_revenue             False
payment_method            False
payment_failures          False
discount_applied          False
price_increase_last_3m    False
support_tickets           False
avg_resolution_time       False
complaint_type             True
csat_score                False
escalations               False
email_open_rate           False
marketing_click_rate      False
nps_score                 False
survey_response           False
referral_count            False
churn                     False
dtype: bool

In [ ]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [ ]:
df.columns

Index(['customer_id', 'gender', 'age', 'country', 'city', 'customer_segment',
       'tenure_months', 'signup_channel', 'contract_type', 'monthly_logins',
       'weekly_active_days', 'avg_session_time', 'features_used',
       'usage_growth_rate', 'last_login_days_ago', 'monthly_fee',
       'total_revenue', 'payment_method', 'payment_failures',
       'discount_applied', 'price_increase_last_3m', 'support_tickets',
       'avg_resolution_time', 'complaint_type', 'csat_score', 'escalations',
       'email_open_rate', 'marketing_click_rate', 'nps_score',
       'survey_response', 'referral_count', 'churn'],
      dtype='object')

In [ ]:
df.iloc[['escalations','email_open_rate', 'marketing_click_rate']]

ValueError: invalid literal for int() with base 10: np.str_('escalations')

In [ ]:
x=df[df['escalations'].isnull()]
x

Empty DataFrame
Columns: [customer_id, gender, age, country, city, customer_segment, tenure_months, signup_channel, contract_type, monthly_logins, weekly_active_days, avg_session_time, features_used, usage_growth_rate, last_login_days_ago, monthly_fee, total_revenue, payment_method, payment_failures, discount_applied, price_increase_last_3m, support_tickets, avg_resolution_time, complaint_type, csat_score, escalations, email_open_rate, marketing_click_rate, nps_score, survey_response, referral_count, churn]
Index: []

[0 rows x 32 columns]

In [ ]:
target_cols = [ 'escalations','email_open_rate', 'marketing_click_rate']

missing_any = df[df[target_cols].any(axis=1)]
print(missing_any)

     customer_id  gender  age     country      city customer_segment  \
0     CUST_00001    Male   68  Bangladesh    London              SME
1     CUST_00002  Female   57      Canada    Sydney       Individual
2     CUST_00003    Male   24     Germany  New York              SME
3     CUST_00004    Male   49   Australia     Dhaka       Individual
4     CUST_00005    Male   65  Bangladesh     Delhi       Individual
...          ...     ...  ...         ...       ...              ...
9995  CUST_09996  Female   67     Germany    Sydney              SME
9996  CUST_09997    Male   26         USA   Toronto       Individual
9997  CUST_09998  Female   18      Canada    Sydney       Individual
9998  CUST_09999  Female   30         USA     Delhi       Individual
9999  CUST_10000    Male   67          UK    Berlin              SME

      tenure_months signup_channel contract_type  monthly_logins  ...  \
0                22            Web       Monthly              26  ...
1                 9         Mobile       Monthly               7  ...
2                58            Web        Yearly              19  ...
3                19         Mobile        Yearly              34  ...
4                52            Web       Monthly              20  ...
...             ...            ...           ...             ...  ...
9995             37            Web        Yearly              15  ...
9996             42         Mobile        Yearly              13  ...
9997             39         Mobile        Yearly              15  ...
9998             52            Web       Monthly              14  ...
9999              7         Mobile       Monthly              15  ...

      avg_resolution_time  complaint_type  csat_score  escalations  \
0               13.354360         Service         4.0            0
1               25.140088         Billing         2.0            0
2               27.572928         Service         3.0            0
3               26.420822       Technical         5.0            1
4               26.674579       Technical         4.0            0
...                   ...             ...         ...          ...
9995            34.240174         Service         4.0            1
9996            40.092087             NaN         4.0            0
9997            25.215810       Technical         1.0            0
9998            20.544921             NaN         2.0            0
9999            23.536914       Technical         4.0            1

      email_open_rate  marketing_click_rate  nps_score survey_response  \
0                0.71                  0.40         27       Satisfied
1                0.78                  0.33        -19         Neutral
2                0.35                  0.49         80         Neutral
3                0.83                  0.15        100         Neutral
4                0.65                  0.44         21     Unsatisfied
...               ...                   ...        ...             ...
9995             0.36                  0.28         20       Satisfied
9996             0.48                  0.06         28     Unsatisfied
9997             0.11                  0.07        -30       Satisfied
9998             0.25                  0.31         58         Neutral
9999             0.40                  0.30          1       Satisfied

      referral_count churn
0                  1     0
1                  2     1
2                  1     0
3                  0     0
4                  1     0
...              ...   ...
9995               2     0
9996               2     0
9997               1     0
9998               1     1
9999               1     0

[10000 rows x 32 columns]

In [ ]:
df.isnull()

,customer_id,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().any()

customer_id               False
gender                    False
age                       False
country                   False
city                      False
customer_segment          False
tenure_months             False
signup_channel            False
contract_type             False
monthly_logins            False
weekly_active_days        False
avg_session_time          False
features_used             False
usage_growth_rate         False
last_login_days_ago       False
monthly_fee               False
total_revenue             False
payment_method            False
payment_failures          False
discount_applied          False
price_increase_last_3m    False
support_tickets           False
avg_resolution_time       False
complaint_type             True
csat_score                False
escalations               False
email_open_rate           False
marketing_click_rate      False
nps_score                 False
survey_response           False
referral_count            False
churn                     False
dtype: bool

In [ ]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [ ]:
df_filled = df.fillna(0)

In [ ]:
df.isnull().sum()

customer_id                  0
gender                       0
age                          0
country                      0
city                         0
customer_segment             0
tenure_months                0
signup_channel               0
contract_type                0
monthly_logins               0
weekly_active_days           0
avg_session_time             0
features_used                0
usage_growth_rate            0
last_login_days_ago          0
monthly_fee                  0
total_revenue                0
payment_method               0
payment_failures             0
discount_applied             0
price_increase_last_3m       0
support_tickets              0
avg_resolution_time          0
complaint_type            2045
csat_score                   0
escalations                  0
email_open_rate              0
marketing_click_rate         0
nps_score                    0
survey_response              0
referral_count               0
churn                        0
dtype: int64

In [ ]:
print(df['complaint_type'].dtype)

object

In [ ]:
df['complaint_type'] = df['complaint_type'].fillna(df['complaint_type'].mean())

TypeError: can only concatenate str (not "int") to str

In [ ]:
df['complaint_type'] = df['complaint_type'].fillna(df['complaint_type'].mode()[0])

In [ ]:
df.isnull().sum()

customer_id               0
gender                    0
age                       0
country                   0
city                      0
customer_segment          0
tenure_months             0
signup_channel            0
contract_type             0
monthly_logins            0
weekly_active_days        0
avg_session_time          0
features_used             0
usage_growth_rate         0
last_login_days_ago       0
monthly_fee               0
total_revenue             0
payment_method            0
payment_failures          0
discount_applied          0
price_increase_last_3m    0
support_tickets           0
avg_resolution_time       0
complaint_type            0
csat_score                0
escalations               0
email_open_rate           0
marketing_click_rate      0
nps_score                 0
survey_response           0
referral_count            0
churn                     0
dtype: int64

In [ ]:
df=df.rename(columns={'customer_id':'CustomerID'})
df.head()

,Customer-ID,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,nps_score,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,13.354360,Service,4.0,0,0.71,0.40,27,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,25.140088,Billing,2.0,0,0.78,0.33,-19,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,27.572928,Service,3.0,0,0.35,0.49,80,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,26.420822,Technical,5.0,1,0.83,0.15,100,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,26.674579,Technical,4.0,0,0.65,0.44,21,Unsatisfied,1,0

In [ ]:
df.dtypes

Customer-ID                object
gender                     object
age                         int64
country                    object
city                       object
customer_segment           object
tenure_months               int64
signup_channel             object
contract_type              object
monthly_logins              int64
weekly_active_days          int64
avg_session_time          float64
features_used               int64
usage_growth_rate         float64
last_login_days_ago         int64
monthly_fee                 int64
total_revenue               int64
payment_method             object
payment_failures            int64
discount_applied           object
price_increase_last_3m     object
support_tickets             int64
avg_resolution_time       float64
complaint_type             object
csat_score                float64
escalations                 int64
email_open_rate           float64
marketing_click_rate      float64
nps_score                   int64
survey_response            object
referral_count              int64
churn                       int64
dtype: object

In [ ]:
df = df.drop('support_tickets',axis=1)
df.dtypes

Customer-ID                object
gender                     object
age                         int64
country                    object
city                       object
customer_segment           object
tenure_months               int64
signup_channel             object
contract_type              object
monthly_logins              int64
weekly_active_days          int64
avg_session_time          float64
features_used               int64
usage_growth_rate         float64
last_login_days_ago         int64
monthly_fee                 int64
total_revenue               int64
payment_method             object
discount_applied           object
price_increase_last_3m     object
avg_resolution_time       float64
complaint_type             object
csat_score                float64
escalations                 int64
email_open_rate           float64
marketing_click_rate      float64
survey_response            object
referral_count              int64
churn                       int64
dtype: object

In [ ]:
df.head()

,Customer-ID,gender,age,country,city,customer_segment,tenure_months,signup_channel,contract_type,monthly_logins,...,price_increase_last_3m,avg_resolution_time,complaint_type,csat_score,escalations,email_open_rate,marketing_click_rate,survey_response,referral_count,churn
0,CUST_00001,Male,68,Bangladesh,London,SME,22,Web,Monthly,26,...,No,13.354360,Service,4.0,0,0.71,0.40,Satisfied,1,0
1,CUST_00002,Female,57,Canada,Sydney,Individual,9,Mobile,Monthly,7,...,Yes,25.140088,Billing,2.0,0,0.78,0.33,Neutral,2,1
2,CUST_00003,Male,24,Germany,New York,SME,58,Web,Yearly,19,...,No,27.572928,Service,3.0,0,0.35,0.49,Neutral,1,0
3,CUST_00004,Male,49,Australia,Dhaka,Individual,19,Mobile,Yearly,34,...,No,26.420822,Technical,5.0,1,0.83,0.15,Neutral,0,0
4,CUST_00005,Male,65,Bangladesh,Delhi,Individual,52,Web,Monthly,20,...,No,26.674579,Technical,4.0,0,0.65,0.44,Unsatisfied,1,0

In [ ]:
df1 = pd.DataFrame({'Key':['A','B','C'],'Value1':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','D'],'Value2':[4,5,6]})

In [ ]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [ ]:
df2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [ ]:
pd.merge(df1,df2,on="Key",how="inner")

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [ ]:
df3 = pd.merge(df1,df2,on="Key",how="outer")

In [ ]:
df3

  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [ ]:
df_final = df3.fillna("Unknown")
df_final

  Key   Value1   Value2
0   A      1.0      4.0
1   B      2.0      5.0
2   C      3.0  Unknown
3   D  Unknown      6.0

In [ ]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\jaisw\anaconda3\lib\site-packages (5.3.0)

In [ ]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\jaisw\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\jaisw\anaconda3\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\jaisw\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [ ]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\jaisw\anaconda3\lib\site-packages (4.13.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\jaisw\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\jaisw\anaconda3\lib\site-packages (from beautifulsoup4) (4.15.0)

In [ ]:
url = "https://www.fdic.gov/bank-failures/failed-bank-list"
df = pd.read_html(url)

In [ ]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

: